
<h1>Create Post</h1>

<%= form_with model: @post do |form| %>
	<div>
		<%= form.label :title %><br>
		<%= form.text_field :title %><br><br>
	</div>

	<div>
		<%= form.label :body %><br>
		<%= form.text_area :body, size: "70x5" %><br><br>
	</div>

	<div>
	  <%= form.submit "Create Post" %>
	</div>

<% end %>

<div>
<%= render "shared/footer" %>
</div>